<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.webdone.zjiangprinter"
        version="0.7.0">

  <name>Zjiang Bluetooth Printer Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/zjiangprinter.js" target="js/zjiangprinter.js"/>

  <js-module src="www/zjiangprinter.js" name="zjiangprinter">
    <clobbers target="zjiangprinter" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="zjiangprinter">
        <param name="android-package" value="com.webdone.plugin.zjiangprinter"/>
      </feature>
    </config-file>

    <source-file src="src/android/zjiangprinter.java" target-dir="src/com/webdone/plugin/"/>
      <!--<source-file src="src/android/btsdk.jar" target-dir="libs" />-->
  </platform>


</plugin>