<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.webdone.chbtprinter"
        version="0.0.1">

    <name>Cordova Plugin for Chinese Printer</name>
    <author>Muhammad Irfan Amir</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/chbtprinter.js" target="js/hello.js"/>

    <js-module src="www/chbtprinter.js" name="chbtprinter">
        <clobbers target="chbtprinter" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Chinese-Printer">
                <param name="android-package" value="com.webdone.plugin.chbtprinter"/>
            </feature>
        </config-file>

        <source-file src="src/android/chbtprinter.java" target-dir="src/com/webdone/chbtprinter/"/>
    </platform>

</plugin>